# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.idea/

# Database
db.sqlite3

# Media
media/

# Static
staticfiles/

# Environment
.env

# macOS
.DS_Store
